<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Azure.NotificationHubs.Android" version="0.4.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Firebase.Messaging" version="42.1021.1" targetFramework="monoandroid80" />
  <package id="Xamarin.GooglePlayServices.Base" version="42.1021.1" targetFramework="monoandroid80" />
</packages>